a.anchor {
  display: block;
  position: relative;
  top: calc(-1 * (var(--nav-height) + 1rem));

  visibility: hidden;
}

.meal-menu {
  > * {
    min-height: 20rem;
  }

  .lead {
    font-weight: 400;

    ~ .lead {
      margin-top: 2rem;
    }
  }
}

.meal-menu, .course-calendar {
  li {
    transition: transform 0.1s ease-in;
    text-shadow: none;

    &:hover, &.sim-hover {
      text-decoration: underline;
      cursor: pointer;
      transform: skew(-5deg);
    }
  }
}

.parallax-container .container-fluid {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
