a.anchor {
  display: block;
  position: relative;
  top: calc(-1 * (var(--nav-height) + 1rem));

  visibility: hidden;
}

.meal-menu {
  > * {
    min-height: 20rem;
  }

  .lead {
    font-weight: 400;

    ~ .lead {
      margin-top: 2rem;
    }
  }
}

.meal-menu, .course-calendar {
  li {
    transition: transform 0.1s ease-in;
    text-shadow: none;

    &:hover, &.sim-hover {
      text-decoration: underline;
      cursor: pointer;
      transform: skew(-5deg);
    }
  }
}

.parallax-container > .background {
  position: absolute;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  &.potatoes {
    background-image: url('/assets/images/food/potatoes-1800.jpg');
  }

  &.soup {
    background-image: url('/assets/images/food/soup-1800.jpg');
  }

  &.tacos {
    background-image: url('/assets/images/food/tacos-1-1800.jpg');
  }

  &.cookies {
    background-image: url('/assets/images/food/cookies-1800.jpg');
  }

  &.heart {
    background-image: url('/assets/images/heart.jpg');

    // @include media-breakpoint-up(md) {
      + * {
        margin-top: 200px !important;
        margin-bottom: -50px !important
      }
    // }
  }
}
