<h2 class='lead'>
  Get <em>a gourmet meal plan</em> mom will love,<br />
  plus <em>detailed lessons</em> for everything<br />
  from <em>shopping</em> to <em>cooking</em> to <em>serving</em>.<br />
</h2>

<fieldset>
  <div class='input-group d-block d-md-flex'>
    <input type='email' class='form-control'
      placeholder='julias.child@cookformom.com'
      onkeydown={{action onKeydown}}
      aria-label="Your email">

    <div class='input-group-append'>
      <button class='btn bg-dark btn-outline-dark' type='button'
        onclick={{action onSubmit}}>
        Get Free Meal Plan
      </button>
      {{! todo: disable unless filled in + show CSS tooltip }}
    </div>
  </div>
</fieldset>

<p><small>
  100% private; your information is not for sale.
</small></p>
