<div class='container'>
  <header>
    <h3>what to expect?</h3>
  </header>

  <main class='row'>
    <div class='col-md-8'>
      <h2> menu </h2>
      <p> No matter your experience -- kitchen zero or culinary hero -- expect to impress Mom with three gourmet dishes, using recipes and techniques we've tested for cooks of all levels. </p>
      <ul>
        <li> Purple potatoes with pickled cabbage and crema </li>
        <li> Salmorejo (rustic Spanish tomato soup) garnished with eggs, breadcrumbs, and ham </li>
        <li> Homemade tortilla with roasted pork shoulder or cauliflower, pickled jalapenos, jicama, cotilla cheese, and pico de gallo </li>
      </ul>
      <p><em> Is Mom vegan? Need a gluten-free option? Our Week 6 email will include suggested modifications for popular diets! </em></p>
    </div>

    <div class='col-md-4'>
      <h2> course outline </h2>
      <p> Cooking feels + tastes great when you do it with confidence, which is why we'll be sharing 6 helpful lessons in the weeks leading up to Mother's Day. Expect to learn: </p>
      <ul>
        <li> knife skills, including chopping, dicing, and basic safety </li>
        <li> 3 common techniques for cooking proteins </li>
        <li> where + how to shop for ingredients</li>
        <li> how to use cooking by-products and "waste" to run a budget-friendly, eco-conscious, "continuous" kitchen </li>
        <li> what cooking times <em>actually</em> mean </li>
        <li> the strategies real chefs use when planning &amp; presenting tasty, instagrammable meals </li>
        <li> + much, much more! </li>
      </ul>
    </div>
  </main>

  <footer class='container'>
    what are you waiting for? click here to sign up now
    {{! todo trigger modal @ step 1 }}
  </footer>
</div>
