$nav-height: 2.5rem;

$color-khaki: #ECC272;
$color-sienna: #946039;
$color-black: #332F2B;
$color-rosy-brown: #BA9C85;
$color-gainsboro: #EBE4DF;

$primary: $color-rosy-brown;
$secondary: $color-khaki;
$dark: $color-black;

$font-family-base: "rooney-web";

:root {
  --nav-height: $nav-height; // n.b. needed for `calc(...)`s
}
