$nav-height: 3.5rem;

$color-khaki: #ECC272;
$color-sienna: #946039;
$color-black: #332F2B;
$color-rosy-brown: #BA9C85;
$color-gainsboro: #EBE4DF;
$color-purple: rgb(113, 122, 193);

$primary: $color-purple;
$secondary: $color-khaki;
$dark: $color-black;

$font-family-base: "rooney-web";
$font-family-heading: "omnes-pro";
$font-family-accent: "baileywick-jf-gothic";

:root {
  --nav-height: $nav-height; // n.b. needed for `calc(...)`s
}
