& {
  width: 100%;
  background: $color-gainsboro;
}

> form, > main {
  padding: 1rem 1.25rem;
  background: $color-gainsboro;

  @include media-breakpoint-down(sm) {
    border-top: 1px solid $color-sienna;
  }
}

input {
  padding-right: 0;

  &.form-control {
    border-color: $dark;

    &:focus {
      box-shadow: none;
      border-color: $dark;
    }
  }
}

.input-group {
  @include media-breakpoint-down(sm) {
    input.form-control, button {
      width: 70%;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    input.form-control:not(:last-child),
    > .input-group-append > .btn {
      @include border-radius($input-border-radius);
    }

    .input-group-append {
      margin-left: initial;
    }

    button {
      margin-top: .5rem;
    }
  }
}

button {
  outline: none;
  color: white;

  &.btn-link {
    padding: 0;
  }
}

h2, p, ul {
  margin-left: auto;
  margin-right: auto;

  font-family: $font-family-heading;
  text-align: center;
}

h2 {
  font-weight: 200;
  font-size: 1.5rem;

  @include media-breakpoint-down(sm) {
    font-size: calc(1.25rem + (1.5 - 1.25) * (100vw - 25rem) / (48 - 25));
  }

  em {
    font-style: normal;
    font-weight: 400;
  }
}

fieldset, h2 + p {
  margin: 1.5rem 0 .5rem;
}

ul {
  margin: 1rem 0 0;
}

li + li {
  margin-left: .75rem;
}

p {
  &:last-of-type {
    margin-bottom: 0;
  }

  button {
    font-size: inherit;
    margin: 0 0.5rem;
  }
}

small {
  line-height: .25rem;
}

img {
  max-height: 2rem;

  &[src='/assets/images/social/instagram.png'] {
    opacity: 0.5;
  }
}
