& {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

  height: $nav-height;
  overflow: hidden;

  background: lighten($color-khaki, 25%);
  font-weight: 300;
}

a.nav-link {
  color: $dark;

  &:hover {
    text-decoration: underline;
  }
}

.nav-link.active:not([href='#']) {
  text-decoration: underline;
}
