& {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;

  background: lighten($color-khaki, 25%);
  font-weight: 300;
}

a.nav-link {
  color: $dark;

  &:hover {
    text-decoration: underline;
  }
}

.nav-link.active:not([href='#']) {
  text-decoration: underline;
}

li {
  padding: 0.5rem 0rem;
}
