& {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;

  background: lighten($color-khaki, 25%);
  font-weight: 300;
  height: 3.5rem;
  max-width: 100vw;
}

.nav {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  flex-wrap: nowrap;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height: 0;
    display: none;
  }
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

li {
  display: inline-block;
  padding: 0.5rem 0rem;
}

a.nav-link {
  color: $dark;

  &:hover {
    text-decoration: underline;
  }
}

.nav-link.active:not([href='#']) {
  text-decoration: underline;
}

aside {
  &:hover > button, &.sim-hover > button, > button:focus {
    background: none !important;
    color: $dark !important;
  }
}

form {
  width: 400px;
  max-width: 100%;
  padding: .5rem;
}

fieldset {
  margin: 1rem auto 0.5rem;
  width: 250px;

  button {
    width: 100%;
  }
}

input {
  margin-bottom: .25rem;
}

.tooltip {
  &.show {
    opacity: 1;
  }

  > .arrow {
    z-index: 100;

    &::before {
      bottom: -0.15rem;
      right: -2.5rem;
      border-width: 0 0.5rem 0.5rem;
      border-bottom-color: lighten($primary, 25%);
    }
  }
}

.tooltip-inner {
  background: lighten($primary, 25%);
  position: absolute;
  top: 0.5rem;
  right: -4.2rem;
  color: $dark;
  max-width: 90vw;
  box-shadow: 1px 1px 2px lighten($primary, 10%);
}
