& {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 10;

  background: lighten($color-khaki, 25%);
  font-weight: 300;
  height: 3.5rem;
  overflow-y: hidden;
  max-width: 100vw;
}

.nav {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  flex-wrap: nowrap;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height: 0;
    display: none;
  }
}

li {
  display: inline-block;
  padding: 0.5rem 0rem;
}

a.nav-link {
  color: $dark;

  &:hover {
    text-decoration: underline;
  }
}

.nav-link.active:not([href='#']) {
  text-decoration: underline;
}

