<ul class='container nav justify-content-between justify-content-md-start'>
  <li class='nav-item'>
    <a class='nav-link' href='#menu'> Menu </a>
  </li>

  <li class='nav-item'>
    <a class='nav-link' href='#six-free-lessons'> Six Free Lessons </a>
  </li>

  <li class='nav-item'>
    <a class='nav-link' href='#about-us'> About Us </a>
  </li>

  <li class='nav-item'>
    <a class='nav-link' href='#what-you-need'> What You'll Need </a>
  </li>

  {{#if isShowingEmailButton}}
    <li class='nav-item ml-auto'>
      <button class='btn bg-primary text-white' type='button'> Sign me up! </button>
    </li>
  {{/if}}
</ul>
