<div class='container p-0 d-flex align-items-center'>
  <ul class='nav'>
    <li class='nav-item'>
      <a class='nav-link' href='#menu'> Menu </a>
    </li>

    <li class='nav-item'>
      <a class='nav-link' href='#six-free-lessons'> Six Free Lessons </a>
    </li>

    <li class='nav-item'>
      <a class='nav-link' href='#why-is-this-free'> Why Is This Free? </a>
    </li>

    <li class='nav-item'>
      <a class='nav-link' href='#about-us'> About Us </a>
    </li>
  </ul>

  {{#if isButtonVisible}}
    <aside class='ml-3 ml-md-auto d-inline-block'>
      <button type='button'
        class='btn btn-outline-primary {{if isNudging 'bg-none text-dark' 'bg-primary text-white'}}'>
        {{unless didSubmit 'Sign up today!' 'Follow & Share'}}
      </button>

      {{#bs-tooltip
        position='bottom'
        visible=isNudging
        onHidden=(action cancelNudge)}}
        {{#form-signup
          didSubmit=didSubmit
          shouldFocusInput=isNudging
          canReset=false
          onSubmit=(action onSubmit) as |form|}}
          {{#form.header}}
            <em>Enter your email</em> below and <em>immediately</em>
            receive your <em>free</em> Mother's Day <em>meal plan</em>!
          {{/form.header}}

          {{#form.main}}
            <input type='email' class='form-control'
              tabindex=1
              placeholder='julias.child@cookformom.com'
              onkeydown={{action form.keydown}}
              aria-label="Your email">

            <button class='btn bg-primary btn-outline-primary text-white' type='button'
              onclick={{action form.submit}}>
              Sign Me Up
            </button>
          {{/form.main}}

          {{#form.footer class='small'}}
            100% private; your information is not for sale.
          {{/form.footer}}
        {{/form-signup}}
      {{/bs-tooltip}}
    </aside>
  {{/if}}
</div>
