<ul class='container nav flex-column flex-md-row'>
  <li class='nav-item d-md-none'>
    Mobile Nav; includes signup button + otherwise expands
  </li>

  <li class='nav-item'>
    <a class='nav-link' href='#your-meal'> Your Meal </a>
  </li>

  <li class='nav-item'>
    <a class='nav-link' href='#course-outline'> Course Outline </a>
  </li>

  <li class='nav-item'>
    <a class='nav-link' href='#kitchen-requirements'> Kitchen Requirements </a>
  </li>

  <li class='nav-item'>
    <a class='nav-link' href='#cooking-community'> Cooking Community </a>
  </li>

  <li class='nav-item'>
    <a class='nav-link' href='#about-us'> About Us </a>
  </li>

  {{#unless (or didSubmit isHeroFormShowing)}}
    <li class='nav-item hidden-sm-down ml-auto'>
      <button type='button'> Sign me up! </button>
    </li>
  {{/unless}}
</ul>
