<div class='container'>
  <h2> prerequisites </h2>
  <p class='lead'> While the course + final menu are designed to be achievable in just about any kitchen, you will need: </p>
  <ul>
    {{! todo affiliate? }}
    <li> <strong>A good chef's knife</strong>, like <a href='https://www.amazon.com/dp/B008GRUNOC' target='_blank'>this one from Wusthof</a></li>
    <li> <strong>A cutting board</strong>, like <a href='https://www.amazon.com/dp/B000AAM0EY'>this plastic one from OXO</a></li>
    <li> <strong>A stainless steel pan</strong>, like <a href='https://www.amazon.com/dp/B00JAP44MQ' target='_blank'>this Tramontina skillet</a></li>
    <li> <strong>A rolling pin</strong>, like <a href='https://www.amazon.com/dp/B000IYYFIQ'>this maple one</a> (though a can of Pringles will do!)</li>
  </ul>
  <p><small>If the linked Amazon product does not ship to your address, try replacing "amazon.com" with your country's localized Amazon, eg "amazon.ca". For more recommendations, check out <a href='https://thewirecutter.com/kitchen-dining/'>The Wirecutter</a>.</small></p>

  <h4>useful extras</h4>
  <p> If you're confident making some extra investments in your kitchen, we also recommend picking up: </p>
  <ul>
    <li>A knife sharpener</li>
    {{! todo: confirm which with corey}}
    <li>A food processor / blender / immersion blender</li>
    {{! todo: confirm remaining items}}
  </ul>
</div>
