<div class='container'>
  <h4> Not yet comfortable scrambling an egg? </h4>
  <p> No matter your experience -- kitchen zero or culinary hero -- our tested recipes and 6-week lesson plan will help cooks of all levels build (or brush up on!) the knowledge, skills, and confidence you'll need for a lovely meal. </p>
</div>
