<div class='container'>
  <h2> course outline </h2>
  <p class='lead'> In the 6 weeks leading up to Mother's Day, you will learn: </p>
  <ul>
    <li> Knife skills, including chopping, dicing, and basic safety </li>
    <li> 3 common techniques for cooking proteins </li>
    <li> Where + how to shop for ingredients</li>
    <li> How to use cooking by-products and "waste" to run a budget-friendly, eco-conscious, "continuous" kitchen </li>
    <li> What cooking times <em>actually</em> mean </li>
    <li> The strategies real chefs use when planning &amp; presenting tasty, instagrammable meals </li>
    <li> + much, much more! </li>
  </ul>
</div>
