& {
  background: lighten($color-gainsboro, 10%);

  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

header {
  font-family: $font-family-heading;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;

  margin-bottom: 1rem;
}

main {
  color: $dark;
  font-weight: 300;

  > :last-child {
    margin-bottom: 0;
  }
}

em {
  font-style: normal;
  font-weight: 400;
}
