<div class='container'>
  {{yield (hash
    question=(component questionComponent class=(concat 'col-10 offset-1 ' childrenClass))
    answer=(component answerComponent class=(concat 'col-10 offset-1 ' childrenClass))
  )}}
</div>
