& {
  background: lighten($color-khaki, 20%);

  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;

  li {
    position: relative;
    padding: .5rem 0 .5rem 3.5rem;
  }

  li::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 100%;

    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  margin-bottom: 0;
}

li {
  &.i-potatoes::before {
    background-image: url(/assets/images/icons/potatoes.png);
  }

  &.i-soup::before {
    background-image: url(/assets/images/icons/soup.png);
  }

  &.i-tacos::before {
    background-image: url(/assets/images/icons/tacos.png);
  }

  &.i-cookies::before {
    background-image: url(/assets/images/icons/cookies.png);
  }

  &.i-knife::before {
    background-image: url(/assets/images/icons/knife.png);
  }

  &.i-pan::before {
    background-image: url(/assets/images/icons/pan.png);
  }

  &.i-shop::before {
    background-image: url(/assets/images/icons/shop.png);
  }

  &.i-recycle::before {
    background-image: url(/assets/images/icons/recycle.png);
  }

  &.i-clock::before {
    background-image: url(/assets/images/icons/clock.png);
  }

  &.i-camera::before {
    background-image: url(/assets/images/icons/camera.png);
  }

  &.i-learning::before {
    background-image: url(/assets/images/icons/learning.png);
  }
}
