& {
  background: lighten($color-khaki, 20%);

  padding-top: 2rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;

  li::before {
    content: '-';
  }

  li {
    padding: .5rem 0;
  }

  margin-bottom: 0;
}
