& {
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .align-items-end;

  height: calc(100vh - var(--nav-height));
  position: relative;

  background-image: url('/assets/images/hero2.jpg'); // current img from https://drscdn.500px.org/photo/224851955/q%3D80_m%3D2000_k%3D1/v2?webp=true&sig=7755fda59e159bbbf57427697454b733e6cd4ef0f8c6afa4ebbf2f771c60e76c
  // background-image: url('/assets/images/hero.jpg'); // current img from https://www.shutterstock.com/image-photo/young-mom-cooking-kitchen-little-baby-474857146?src=bLnLxJuvbU83EEz02R35yw-1-0
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

> aside {
  margin-bottom: 2rem;
  margin-right: 2rem;

  h1 {
    font-family: "hooligan-jf";
    font-size: 7rem;
    line-height: 7.5rem;

    font-family: "baileywick-jf-gothic";
    font-size: 5rem;
    line-height: 5.5rem;

    color: white;
    text-shadow: black 0 0 10px;

    text-align: right;
    margin-bottom: 2rem;
  }

  form, main {
    width: 450px;
    padding: 1rem 1.5rem;
    float: right;

    background: $color-gainsboro;
    border-radius: 8px;
    box-shadow: 0 0 8px $color-sienna;
  }

  input {
    padding-right: 0;

    &.form-control {
      border-color: $secondary;

      &:focus {
        box-shadow: none;
        border-color: $dark;
      }
    }
  }

  button {
    outline: none;
    color: white;

    &.btn-link {
      padding: 0;
    }
  }

  h2, p, ul {
    margin-left: auto;
    margin-right: auto;

    font-family: "omnes-pro";
    text-align: center;
  }

  h2 {
    font-weight: 200;
    font-size: 1.5rem;

    em {
      font-style: normal;
      font-weight: 400;
    }
  }

  fieldset, h2 + p {
    margin: 1.5rem 0 .5rem;
  }

  ul {
    margin: 1rem 0 0;
  }

  li + li {
    margin-left: .75rem;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }

    button {
      font-size: inherit;
      margin: 0 0.5rem;
    }
  }

  small {
    line-height: .25rem;
  }

  img {
    max-height: 2rem;

    &[src='/assets/images/social/instagram.png'] {
      opacity: 0.5;
    }
  }
}
