& {
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .align-items-end;

  min-height: 500px;
  height: calc(100vh - var(--nav-height));
  position: relative;

  background-image: url('/assets/images/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;

  @include media-breakpoint-down(sm) {
    min-height: calc(100vw / 2);
    height: 50vh;
  }
}

> aside {
  margin-bottom: 2rem;
  margin-right: 2rem;

  h1 {
    font-family: "baileywick-jf-gothic";
    font-size: 5rem;
    line-height: 5.5rem;

    color: white;
    text-shadow: black 0 0 10px;

    text-align: right;
    margin-bottom: 2rem;

    @include media-breakpoint-down(sm) {
      font-size: calc(2.5rem + (5 - 2.5) * (100vw - 25rem) / (48 - 25));
      line-height: calc(3rem + (6 - 3) * (100vw - 25rem) / (48 - 25));
      margin-bottom: calc(0rem + (2 - 0) * (100vw - 25rem) / (48 - 25));
    }
  }

  form, main {
    width: 450px;
    float: right;

    border-radius: 8px;
    box-shadow: 0 0 8px $color-sienna;
  }
}
