<aside>
  <header>
    <h1> This Mother's Day, it's time you feed her. </h1>
  </header>

  <main>
    <h2> Get tested meal plans mom will love, with step-by-step instructions for everything from shopping to cooking to serving. </h2>

    <form>
      <fieldset>
        <label>
          Email:
          <input type='email' placeholder='julias.child@cooking.com'>
        </label>

        <button type='button'> Get Free Meal Plan </button>
      </fieldset>
    </form>

    <footer>
      100% private; your email will not be sold.
    </footer>
  </main>
</aside>
