<div class='container'>
  <h2>a cooking community</h2>
  <p class='lead'> Cooking is best done with peers, which is why you will find us:</p>
  <ul>
    <li>On Facebook, in the <a href='https://www.facebook.com/groups/193718594710769'>Cook For Mom group</a></li>
    <li>On Reddit, at <a href='https://reddit.com/r/cookformom'>/r/cookformom</a></li>
    <li>On Instagram, with the hashtag <a href='https://www.instagram.com/explore/tags/cookformom/'>#cookformom</a></li>
    <li>On Twitter, with the hashtag <a href='https://twitter.com/search?q=%23cookformom'>#cookformom</a></li>
  </ul>
</div>
