<h2 class='lead'>
  Thank you for joining!<br />
  We are excited to cook with you.<br />
  Please join us on:
</h2>

<ul class='list-inline'>
  <li class='list-inline-item'>
    <a href='https://instagram.com/cookformomdotcom' target='_blank'>
      <img src='/assets/images/social/instagram.png'>
    </a>
  </li>

  <li class='list-inline-item'>
    <a href='https://facebook.com/cookformomdotcom' target='_blank'>
      <img src='/assets/images/social/facebook.png'>
    </a>
  </li>

  <li class='list-inline-item'>
    <a href='https://reddit.com/r/cookformom' target='_blank'>
      <img src='/assets/images/social/reddit.png'>
    </a>
  </li>
</ul>

<p><small>
  And consider
  <button class='btn btn-link text-primary align-baseline m-0' type='button'
    onclick={{action share 'facebook'}}>
    sharing on Facebook&zwj;
  </button>.
</small></p>

<p>
  <button class='btn btn-link text-secondary align-baseline' type='button'
    onclick={{action reset}}>
    Reset
  </button>

  or

  <button class='btn btn-dark' type='button'
    onclick={{action buySupplies}}>
    Buy Supplies
  </button>
</p>
