<div class='container'>
  <h4> Worried about the time commitment? </h4>
  <p> You can spend one afternoon per week learning to cook and still have time left over for some Netflix. Plus, our digital course is designed for your modern schedule, where a weekly 6pm class might not be a flexible enough solution.</p>
</div>
