<div class='container'>
  <h4> Is Mom vegan? Need a gluten-free option?  </h4>
  <p> All lessons will focus on building your knowledge and skills, and will suggest modifications for popular diets. Your Mother's Day recipes will come with inline notes for vegetarian &amp; vegan options. </p>
</div>
