<ul class='list-inline'>
  <li class='list-inline-item'> nav bar </li>
  <li class='list-inline-item'> i should list sections w/ a button to sign up now, if hero is off-screen </li>
  <li class='list-inline-item'> i should change into a full-screen subscribe cta if user has scrolled to bottom </li>
</ul>
