<p class='container small mb-0'>
  All content copyright {{moment-format (utc) 'YYYY'}} by 10667994 Canada Inc.
  Source code published <a href='https://github.com/anulman/cook-for-mom'>on Github</a>.
  For obligatory legals, see our
  <a href='https://termsfeed.com/terms-use/2a06353684f66cdf733e6f118626fcf2' target='_blank'>Terms of Service</a> &
  <a href='https://termsfeed.com/privacy-policy/cb6bc24e88bcfce57bd5b303dc26fcd1' target='_blank'>Privacy Policy</a>.
  A heartfelt thanks to all the friends, strangers, and especially moms who helped us along the way.
</p>
