<p class='container small mb-0'>
  All content copyright {{moment-format (utc) 'YYYY'}} by 10667994 Canada Inc.
  Source code published <a href='https://github.com/anulman/cook-for-mom'>on Github</a>.
  For obligatory legals, see our {{! todo }} Terms of Service & {{! todo }} Privacy Policy.
  A heartfelt thanks to all the friends, strangers, and especially moms who helped us along the way.
</p>
